Redirect permanent /features-application-manager.html http://shale.apache.org/shale-application/index.html
Redirect permanent /features-commons-validator.html   http://shale.apache.org/shale-validator/index.html
Redirect permanent /features-dialog-manager.html      http://shale.apache.org/shale-dialog/index.html
Redirect permanent /features-jndi-integration.html    http://shale.apache.org/shale-core/jndi-integration.html
Redirect permanent /features-remoting.html            http://shale.apache.org/shale-remoting/index.html
Redirect permanent /features-reusable-views.html      http://shale.apache.org/shale-clay/index.html
Redirect permanent /features-spring-integration.html  http://shale.apache.org/shale-spring/index.html
Redirect permanent /features-test-framework.html      http://shale.apache.org/shale-test/index.html
Redirect permanent /features-tiger-extensions.html    http://shale.apache.org/shale-tiger/index.html
Redirect permanent /features-view-controller.html     http://shale.apache.org/shale-view/index.html
